<!DOCTYPE html>
<html lang="ru">
<head th:replace="~{ fragments :: head('Добро пожаловать!', '', '') }"></head>
<body>
<div th:replace="~{ fragments :: menu('404') }"></div>
<br>
<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col m3">
            <p></p>
        </div>
        <div class="w3-col m6">
            <h1>Добро пожаловать!</h1>
            <p>Некий текст.</p>
        </div>
        <div class="w3-col m3">
            <p></p>
        </div>
    </div>
</div>
</body>
</html>